@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-size: cover;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-image: url('https://www.xtrafondos.com/descargar.php?id=3654&resolucion=1920x1080');
}
